@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .game-container {
    @apply relative max-w-[1440px] mx-auto h-[max(90dvh,700px)] md:p-24;
  }
}

* {
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  -webkit-tap-highlight-color: transparent;
}

h1,
p {
  font-family: inherit;
}

/* * {
  outline: 1px solid red !important;
} */
